* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    font-size: 60px;
}

p{
    text-align:justify;
}
body{
    background-color: rgb(95, 90, 90);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
}


span{
    font-size: xx-large;
    font-family: cursive;
}

.header{
display:flex;
align-items: center;
justify-content: center;


}